/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color:  #3F220F;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}
.nav-item a{
  font-family: 'Monoton', cursive;
  color: #F7C59F;
}
.nav-link:not(.active){
  font-family: 'Monoton', cursive;
  color: #F7C59F;
}
.nav-link:not(.active):hover{
  color: #D1FFC6;
}
.navar .navbar-brand{
  margin: 0;
}

/*hero*/
.hero:not(align-items-stretch){
  background-image: url(https://img.freepik.com/vector-premium/patron-transparente-vector-patrones-fisuras-lineas-geometricas-simetricas-repeticion-mosaicos-geometricos_113590-24.jpg);
}

.hero-inferior{
  background-image: url(https://img.freepik.com/vector-premium/patron-transparente-vector-patrones-fisuras-lineas-geometricas-simetricas-repeticion-mosaicos-geometricos_113590-24.jpg);
}
/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}
.seccion-oscura h2{
  font-family: 'Monoton', cursive;
}

.seccion-oscura {
  background-color: #E5DBCF;
  font-family: 'Monoton', cursive;
  color: #74433C;
  /*background-image: url(https://media.istockphoto.com/id/1428264803/es/vector/fondo-blanco-dorado-abstracto-textura-geom%C3%A9trica.jpg?s=612x612&w=0&k=20&c=pQS-xYwDYMBr_I-LRPiKUvQHdgfJPInus8Bw8O7eNxY=);
  */
  /*
  color: #691E06;
  background-color: #F7C59F;
*/
}

.seccion-clara {
  color: black;
  background-image: url(https://img.freepik.com/vector-premium/patron-transparente-vector-patrones-fisuras-lineas-geometricas-simetricas-repeticion-mosaicos-geometricos_113590-24.jpg);
}
/*carousel*/
.carousel{
  width: 60%;
}

.carrousel .carousel-item:not(.active){
  color: #0a0a23;
  background-color: #0a0a23;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carousel-inner .card-img-overlay{
  text-align: center;
  color: #0a0a23;
}
/*PNG DE LAS TARJETAS*/
.card-img-overlay .png-estudiante{
  height: 30%;
  width: 20%;
}
.card-img-overlay .png-soporte{
  height: 30%;
  width: 20%;
}
.card-img-overlay .png-web{
  height: 50%;
  width: 40%;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

.hello{
  font-family: 'Rubik Maze', cursive;
  color: #3F220F;
  font-size: 60px;
}


/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.simple-list-example a{
  text-decoration: none;
}


.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia-titulo {
  color: #E5DBCF;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  background-color: #3F220F;
  font-family: 'Monoton', cursive;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 10px;
}

.proyectos-recientes .seccion-titulo{
  color: #615151;
  font-family: 'Monoton', cursive;

}
.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
  position: flex;
  justify-content: center;
  align-items: center;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto img{
  border-radius: 20px;
}
.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}


/* Testimonios */

.seccion-titulo{
  font-family: 'Monoton', cursive;
}
.testimonios {
  padding: 40px 40px 80px 40px;
}
.testimonios .carousel {
  max-width: 90%;
}
.carousel-item {
  height: 10%;
}
.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonio-imagen {
  height: 20px;
  margin: 1px 1px 2px 1px;
}
.testimonio-texto {
  max-width: 70%;
  font-size: 15px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto{
  background-color: #3F220F;
}
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: #E5DBCF ;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px #74433C;
}



.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: #584e4e;
  font-size: 1.2rem;
}

.contacto button {
  color: #584e4e;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #584e4e;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: #3F220F;
  color: #E5DBCF;
}

.contacto button i {
  color: #584e4e;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: #E5DBCF;
}

/* Pie de pagina (footer) */

footer {
  min-height: 100px;
  background-color: #3F220F;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 0;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Monoton', cursive;
  color: #E5DBCF;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
